{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1 class="text-center my-3"> {{ controller_name }}! ✅</h1>

    {{ form_start(form) }}

        <div class="row">
            <div class="col-md-4"> {{ form_row(form.username, {'label':"Nom d'utilisteur : " ,'attr':{
                'placeholder':"Votre nom d'utilisateur ..."
            }}) }}</div>
            <div class="col-md-4"> {{ form_row(form.firstname, {'label':"Votre Prénom : ", 'attr':{
                'placeholder':"Votre Prénom ..."
            }}) }}</div>
            <div class="col-md-4">{{ form_row(form.lastname, {'label':"Votre Nom : ",'attr':{
                'placeholder':"Votre nom ..."
            }}) }}</div>
        </div>
        
        <div class="row">
            <div class="col-12">{{ form_row(form.email, {'label':"Votre email : ", 'attr':{
                'placeholder':"Votre email ..."
            }}) }}</div>
            <div class="col-12">{{ form_row(form.password, {'label':"Votre mot de passe : ", 'attr':{
                'placeholder':"Votre mot de passe..."
            }}) }}</div>
            <div class="col-12"> {{ form_row(form.passwordConfirm, {'label':"Confirmer votre mot de passe : ", 'attr':{
                'placeholder':"Confirmer votre mot de passe.."
            }}) }}</div>
        </div>
        <div>
            <button type="submit" class="btn btn-lg btn-primary mb-3"> S'inscrire</button>
            <a href="{{path ('connexion') }}" class="btn btn-lg btn-secondary  mb-3"> Me connecter </a>
        </div>
        
    {{ form_end(form) }}
</div>
{% endblock %}
